.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    .error {
      color: red;
      margin-top: 10px;
    }
  
    button {
      width: 100%;
    }
  }
  
  .register-link {
    margin-top: 10px;
    text-align: center;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
  .password-container {
    position: relative; /* Make it the parent container of the input and the icon */
  }
  
  .password-container input {
    padding-right: 40px; /* Add space to the right for the icon */
  }
  
  .password-container i {
    position: absolute;
    right: 10px; /* Adjust the position of the icon to the right */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the icon */
    cursor: pointer;
    font-size: 18px; /* Adjust the size of the icon */
  }
  