<!-- Template for changinging password -->
<div class="change-password-container">
    <h2 class="change-password-title">Change Password</h2>
    <form (ngSubmit)="changePassword()">
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <div class="password-container position-relative">
                <input id="oldPassword" [type]="isOldPasswordVisible ? 'text' : 'password'" [(ngModel)]="oldPassword" name="oldPassword" required class="form-control" />
                <i class="fa" [ngClass]="isOldPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('old')" aria-hidden="true"></i>
            </div>
        </div>
        
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="password-container position-relative">
                <input id="newPassword" [type]="isNewPasswordVisible ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required class="form-control" />
                <i class="fa" [ngClass]="isNewPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('new')" aria-hidden="true"></i>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <div class="password-container position-relative">
                <input id="confirmPassword" [type]="isConfirmPasswordVisible ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control">
                <i class="fa" [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirm')" aria-hidden="true"></i>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Change Password</button>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success">{{ successMessage }}"</div>
    </form>
</div>